body {
  /*padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

p{
  font-size: 36px;
  font-weight: bold;
  color: darkgoldenrod;
  margin-top: -7px;
}
#title{
  height: 45px;
  background-color: dimgray;
}

#maindiv{
  width:100%;
}
#userpanel{
  width:0%;
}
.time-link{
    height: 10%;
    width:15%;
    background-color: lightgrey;
    position: absolute;
    bottom: 25%;
    left:10px;
    z-index: 2;
}
.time-selector{
  height: 20%;
  width: 15%;
  background-color: lightgrey;
    position: absolute;
  bottom: 5%;
  left:10px;
  z-index: 2;
}
.time-option{
  height: 5%;
  width: 15%;
  background-color: lightgrey;
  position: absolute;
  bottom: 10px;
  left:10px;
  z-index: 2;
}
/*#map0{
  width:80%;
  height: 700px;
  float:left;
}*/

.onemap {
  height: 1150px;
  width: 100%;
  float: left;
  position:relative;
}
.twomap {
  height: 700px;
  width: 38%;
  float: left;
  margin:10px;
  position:relative;
}
.formap {
  height: 350px;
  width: 40%;
  float: left;
  position:relative;
}
.vamap{
  width:100%;
  height: 100%;
  z-index:1;
}

.flow{
  width: 15%;
  height: 20%;
  position: absolute;
  background-color: rgb(250,250,250);
  opacity: 1;
  top:10px;
  left:10px;
  z-index:2;
}
.slider-label{
  width:10%;
  height: 10%;
  position: absolute;
  top:65px;
  z-index:2;
}
.slider{
  position: absolute;
  width: 7%;
  height: 10%;
  left:120px;
}
.ivu-slider{
  margin-top: 22px;
}
/*#graphSVG{
  height: 800px;
  width:1680px;
}*/
